<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blaze | Login</title>
    <link rel="stylesheet" href="https://use.typekit.net/enm4pgo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="page-top">
        <h1><span class="title logo top-logo page-top-logo">Blaze</span><span class="title page-title blaze-blue">Select a Server</span></h1>
        <div class="columns center">
            <div class="column is-one-fifth"><center><div class="server-select-icon"><h1 class="title blaze-blue">Alto's Club</h1><h3 class="subtitle">1 Member</h3></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
          </div>
          <div class="columns center">
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
          </div>
          <div class="columns center">
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
            <div class="column is-one-fifth"><center><div class="server-select-icon"></div></center></div>
          </div>
    </div>
</body>

</html>