<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://use.typekit.net/enm4pgo.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <section class="section">
            <h1 class="title logo splash-logo"><%= title %></h1>
            <h3 class="blaze-blue subtitle"><%= text %></h3>
        </section>
    </body>
</html>