html, body {
    background-color: #2C2F33;
    height: 100%;
    overflow: hidden;
}

.container {
	padding: 1.5rem;
}

.logo {
    font-family: rock-salt-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3E9FFF;
}

.blaze-blue {
    color: #3E9FFF;
}

.splash-logo {
    margin-bottom: 30px !important;
}

.top-logo {
    margin-left: 30px;
    margin-top: 30px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1E20;
    border-radius: 20px;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
}

.center {
    text-align: center;
}

.login-title {
    margin-top: 50px;
}

.login-field {
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #2C2F33;
    border-color: #2C2F33;
    font-size: 100%;
    padding-left: 4%;
    color: #3E9FFF;
}

.login-field-email {
    margin-top: 8%;
}

.login-field-password {
    margin-top: 6%;
}

.login-button {
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 18px;
    color: #000000;
    margin-top: 8%;
}

.login-button:hover {
    cursor: pointer;
}

.login-create-link {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4a4a4a;
}

.page-title {
    float: right;
    margin-right: 60px;
}

.page-top {
    margin-top: 30px;
}

.server-select-icon {
    background-color: #1C1E20;
    height: 130px;
    margin-top: 50px;
    border-radius: 10px;
    padding-top: 30px;
}

.columns {
    width: 100%;
    margin-left: 1px;
}

.server-select-icon h1 {
    text-align: center;
    margin-bottom: 30px !important;
}

.server-select-icon h3 {
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
}

.fa-check-circle {
    font-size: 20px;
}

.server-view-top {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 25px;
    height: 90px;
    background-color: #1C1E20;
}

.server-view-top span {
    height: 1%;
}

.server-view-left {
    float: left;
    width: 10%;
    background-color: #1C1E20;
    height: 100%;
    max-height: inherit;
    padding-top: 1%;
    overflow: scroll;
    overflow-y: auto;
}

.server-view-left li {
    padding-left: 5%;
    margin-right: 12%;
    margin-top: 4%;
    margin-bottom: 20%;
    background-color: #23272A;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #d8d8d8;
}

.member-view-right {
    float: right;
    width: 10%;
    background-color: #1C1E20;
    height: 100%;
    max-height: inherit;
    padding-top: 1%;
    overflow: scroll;
    overflow-y: auto;
}

.member-view-right li {
    padding-left: 5%;
    margin-left: 12%;
    margin-top: 4%;
    margin-bottom: 20%;
    background-color: #23272A;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #d8d8d8;
}

.server-view-name {
    margin-top: -4px;
    margin-right: 30px;
}

.message {
    padding-left: 4%;
    padding-top: 0.2%;
    padding-bottom: 0.3%;
    margin-top: 0.9%;
    list-style: none;
    background-color: #23272A;
    color: #d8d8d8;
    margin-bottom: 0px !important;
}

.message-container {
    overflow: scroll;
    overflow-y: auto;
    max-height: 100%;
}