html {
    background-color: #2C2F33;
}

.container {
	padding: 1.5rem;
}

.logo {
    font-family: rock-salt-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3E9FFF;
}

.blaze-blue {
    color: #3E9FFF;
}

.splash-logo {
    margin-bottom: 30px !important;
}

.top-logo {
    margin-left: 30px;
    margin-top: 30px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1E20;
    border-radius: 20px;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
}

.center {
    text-align: center;
}

.login-title {
    margin-top: 50px;
}

.login-field {
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #2C2F33;
    border-color: #2C2F33;
    font-size: 100%;
    padding-left: 4%;
    color: #3E9FFF;
}

.login-field-email {
    margin-top: 8%;
}

.login-field-password {
    margin-top: 6%;
}

.login-button {
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    font-size: 18px;
    color: #000000;
    margin-top: 8%;
}

.login-button:hover {
    cursor: pointer;
}

.login-create-link {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #4a4a4a;
}