html {
    background-color: #2C2F33;
}

.container {
	padding: 1.5rem;
}

.logo {
    font-family: rock-salt-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3E9FFF;
}

.blaze-blue {
    color: #3E9FFF;
}

.splash-logo {
    margin-bottom: 30px !important;
}